@import "styles/_variaveis.module.scss";

.modalLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;
    input{
        filter: drop-shadow(2px 2px 6px $black);
    }

    &__containerbtn{
        width: 100px;
        height: 100px;
        box-sizing: border-box;
        button{
            filter: drop-shadow(2px 2px 6px $black);
        }
    }
}