@import 'styles/_variaveis.module.scss';

.copy {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: .5rem;
    columns: 2rem;
    background-color: $black;
    color: $almond;
    a{
        text-decoration: none;
        color: $almond;
        &:hover{
            filter: drop-shadow(0 0 10px $khaki);
            transform: scale(1.1);
        }
    }
}