@import 'styles/_variaveis.module.scss';

.copy {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    width: 100%;
    padding: .5rem;
    columns: 2rem;    
    color: $almond;    
}