@import "styles/_variaveis.module.scss";

.perfil{
    display: flex;
    width: 100%;
    min-height: 100vh;

    &__top{
        flex-direction: column;        
        &__body{
            order: 2;
        }
    }
    &__lateral{
        flex-direction: row;

        &__body{
            order: 1;
            flex: 1;
            height: 100vh;
            overflow: auto;
            overflow-x: hidden;

            &::-webkit-scrollbar {
                width: 2px;               /* width of the entire scrollbar */
              }
              
              &::-webkit-scrollbar-track {
                background: #d8d8e6;        /* color of the tracking area */
              }
              
              &::-webkit-scrollbar-thumb {
                background-color: #480e30;   /* color of the scroll thumb */                        
              }
        }
    }
}

.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
