@import "styles/_variaveis.module.scss";

.NavPerfil {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    color: white;
    align-items: center;
    gap: 1rem;
    padding: 1rem .2rem;

    &__img{
        width: 200px;
        max-width: 80%;
        border-radius: 50%;
    }

    &__top {
        width: 100%;
    }

    &__lateral {
        width: 300px;
        height: 100%;
    }
}