@import "styles/_variaveis.module.scss";

.NavPerfil {
    display: flex;
    flex-direction: column;    
    background-color: $corPrimeiraTela2;
    color: $corPrimeiraTela10;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    order: 2;
    min-width: 300px;

    &__img{
        width: 150px;
        max-width: 80%;
        border-radius: 50%;
    }
}