@import 'styles/_variaveis.module.scss';

.contosDoBardo {
    &__claro {
        background-image: url("/assets/personagensBG.png");
        background-color: $ligth-color-bardo1;
    }
    
    &__escuro {
        background-image: url("/assets/personagensBG.png");
        background-color: $dark-color-bardo1;
    }
}