@import 'styles/_variaveis.module.scss';

.periciasContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: $fonteTextoForja;
    align-items: center;
    border: 1px solid $black;
    padding: 1rem;
    border-radius: 1em;

    &__body {
        gap: 10px;
        display: flex;
        flex-direction: column;        

        &__pericia {
            display: flex;
            gap: 10px;

            p {
                font-size: .9rem;
                order: 2;
                font-weight: bold;
            }

            span {
                order: 1;
                font-size: .9rem;
                padding: 0 .2em;
                text-decoration: underline;
            }
        }
    }

    &__titulo {
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
    }
}