@import 'styles/_variaveis.module.scss';

.paginaFicha {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $ligth-color-pagina;
    border-radius: 1rem 1rem 0 0;
    margin-top: -1rem;    

    &__ficha {
        background-color: $pagina;
        max-width: 98%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 1rem 0;
        margin: 2rem 10px;
        border-radius: 5px;
        box-shadow: 0 0 6px $black;
        background-image: url('/assets/stardust.png');

        &__body {
            display: flex;
            margin: 2rem 0;
            gap: 1rem;
            padding: 1rem;

            div {
                animation: fadeInScaleUp 1s ease-out;
            }
        }
    }
}

.someDaTela {
    display: none;
}

@media screen and (max-width: 490px) {
    .paginaFicha {
        &__ficha {
            max-width: 100%;
        }
    }
}

@keyframes fadeInScaleUp {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}