@import 'styles/_variaveis.module.scss';

.paginaFicha {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $ligth-color-pagina;
    border-radius: 1rem 1rem 0 0;
    margin-top: -1rem;
    position: relative;

    &__modal {
        position: fixed;
        top: 0;
        width: 0;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        z-index: 999;
        background-color: rgba($color: #000000, $alpha: .2);

        &__aberto {
            display: flex;
        }

        &__fechado {
            display: none;
        }

        &__body {
            background-color: rgba($color: $ligth-color-pagina, $alpha: .9);
            border: 2px solid $dark-color-pagina;
            border-radius: 10px;
            box-shadow: 0 0 12px rgba($color: #000000, $alpha: .8);
            display: flex;
            gap: 2rem;
            flex-direction: column;
            padding: 1rem;
            p{
                font-family: $fonteTextoForja;
                font-size: 1.8rem;
                color: $dark-color-pagina;
            }

            div {
                display: flex;
                gap: 10px;

                button{
                    margin: 0;
                }
            }
        }
    }

    &__btnDeleta {
        align-self: flex-end;

        button {
            font-size: 1.2rem;
            margin: 2rem;
        }
    }

    &__completa{
        padding: 8px .8rem;
        font-size: 1.1rem;
        color: $corPrimeiraTela1;
        background-color: $corPrimeiraTela10;
        border-radius: 2px;
        margin: .8rem;
        border: none;
        display: flex;
        align-items: center;
        gap: 1em;
        box-shadow: 0 0 6px rgba($color: $corPrimeiraTela1, $alpha: .8);
        transition: .4s;

        &:hover{
            cursor: pointer;
            transform: scale(1.05);
        }

        svg{
            color: $corPrimeiraTela1;
        }
    }

    &__ficha {
        background-color: $pagina;
        max-width: 98%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 1rem 0;
        margin: 2rem 10px;
        border-radius: 5px;
        box-shadow: 0 0 6px $black;
        background-image: url('/assets/stardust.png');

        &__body {
            display: flex;
            margin: 2rem 0;
            gap: 1rem;
            padding: 1rem;

            div {
                animation: fadeInScaleUp 1s ease-out;
            }
        }
    }
}

.someDaTela {
    display: none;
}

@media screen and (max-width: 490px) {
    .paginaFicha {
        &__ficha {
            max-width: 100%;
        }
    }
}

@keyframes fadeInScaleUp {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}