@import 'styles/_variaveis.module.scss';

.bannerItem {
    display: flex;
    flex-direction: column;
    align-items: center;    
    border-radius: 1em;
    padding: .5em 1rem;
    width: 500px;
    max-width: 100%;
    animation: fadeInScaleUp 1s ease-out;
        

    &__titulo {
        font-family: $fonteTituloForja;
        font-size: 2.5rem;
        padding: 1em;
        font-weight: bold;
    }

    &__descricao {
        font-size: 1.3rem;
        line-height: 2em;
        text-align: justify;
    }
}

@keyframes fadeInScaleUp {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }