@import 'styles/_variaveis.module.scss';

.bannerItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    border-radius: 1em;
    padding: .5em 1rem;
    width: 500px;
    max-width: 100%;
        

    &__titulo {
        font-family: $fonteTituloForja;
        font-size: 2.5rem;
        padding: 1em;
        font-weight: bold;
    }

    &__descricao {
        font-size: 1.3rem;
        line-height: 2em;
        text-align: justify;
    }
}