@import 'styles/_variaveis.module.scss';

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 980px;
    margin: 0 auto;
    padding: 2rem 0;
    font-family: sans-serif;

    &__share{
        width: 30px;
        height: 30px;
        transition: .4s;
        &:hover{
            cursor: pointer;
            transform: scale(1.05);
        }

        svg{
            border-radius: 2px;
            width: 100%;
            height: 100%;
            color: $dark-color-bardo;
            box-shadow: .5px .5px 0 $black;
            filter: drop-shadow(0 0 2px $dark-color-bardo2);
        }
    }
    
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        flex-wrap: wrap;
        align-self: center;
        margin-bottom: 2rem;        

        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
            max-width: 400px;
        }
    }

    &__tags{
        display: flex;
        gap: 1rem;
        padding: 1rem;
        flex-wrap: wrap;
        
    }
    &__capitulos{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 2rem 0;
        gap: 5px;
    }
}
