@import "styles/_variaveis.module.scss";

.itens {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    a {
        color: $ligth-color-pagina1;
        text-shadow: 1px 1px black;
        font-family: $fonteTexto;
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: 600;        
        padding: .4em .3em;
        width: 100%;
        cursor: pointer;
        transition: .5s;
        background-color: $gunmetal;
        border-top: 1px solid $almond;
        box-shadow: 1px 0 2px black, -1px 0 2px black;
        background-image: url('/assets/stardust.png');
        background-size: cover;
        background-position: center;

        z-index: 1;
        position: relative;
        outline: none;        
        overflow: hidden;       

        &:hover {     
            background-color: $almond;
            color: $dark-color-pagina2;     
            transform: scale(1.04);
        }
    }
}