/* SCSS HEX */
$black: #0a0908ff;
$black-vidro: hsla(30, 11%, 4%, 0.2);
$gunmetal-sombra1: #4E7587;
$almond: #eae0d5ff;
$khaki: #c6ac8fff;
$walnut-brown: #5e503fff;

$cardsGradiente: linear-gradient(137deg, rgba(250,221,126,1) 0%, rgba(232,200,103,1) 8%, rgba(194,194,151,1) 48%);
$sideHeader: linear-gradient(132deg, rgba(14, 36, 63, 1) 0%, rgba(12, 51, 87, 1) 50%, rgba(75, 136, 184, 1) 100%);
$newsGradiente: linear-gradient(342deg, rgba(135,228,212,1) 0%, rgba(216,216,181,1) 50%, rgba(194,194,151,1) 100%);
// $glass: background-color: rgba(255, 255, 255, 0.25)
// backdrop-filter: blur(15px);

/* SCSS HSL */
$black: hsla(30, 11%, 4%, 1);
$gunmetal: hsla(199, 27%, 18%, 1);
$almond: hsla(31, 33%, 88%, 1);
$almond-vidro: hsla(31, 33%, 88%, 0.25);
$khaki: hsla(32, 33%, 67%, 1);
$khaki-opaciti-2: hsla(32, 33%, 67%, .2);
$pagina: rgba(234, 224, 213, .5);

$walnut-brown: hsla(33, 20%, 31%, 1);

/* SCSS RGB */
$black: rgba(10, 9, 8, 1);
$black-shadow-opacit: rgba(10, 9, 8, .55);
$gunmetal: rgba(34, 51, 59, 1);
$almond: rgba(234, 224, 213, 1);
$almond-shadow-opacit: rgba(234, 224, 213, .55);
$khaki: rgba(198, 172, 143, 1);
$walnut-brown: rgba(94, 80, 63, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0a0908ff, #22333bff, #eae0d5ff, #c6ac8fff, #5e503fff);
$gradient-right: linear-gradient(90deg, #0a0908ff, #22333bff, #eae0d5ff, #c6ac8fff, #5e503fff);
$gradient-bottom: linear-gradient(180deg, #0a0908ff, #22333bff, #eae0d5ff, #c6ac8fff, #5e503fff);
$gradient-left: linear-gradient(270deg, #0a0908ff, #22333bff, #eae0d5ff, #c6ac8fff, #5e503fff);
$gradient-top-right: linear-gradient(45deg, #0a0908ff, #22333bff, #eae0d5ff, #c6ac8fff, #5e503fff);
$gradient-bottom-right: linear-gradient(135deg, #0a0908ff, #22333bff, #eae0d5ff, #c6ac8fff, #5e503fff);
$gradient-top-left: linear-gradient(225deg, #0a0908ff, #22333bff, #eae0d5ff, #c6ac8fff, #5e503fff);
$gradient-bottom-left: linear-gradient(315deg, #0a0908ff, #22333bff, #eae0d5ff, #c6ac8fff, #5e503fff);
$gradient-radial: radial-gradient(#0a0908ff, #22333bff, #eae0d5ff, #c6ac8fff, #5e503fff);


// Cores Card
$dark-color-card:#36462F;
$dark-color-card1:#43543C;
$dark-color-card2:#516249;
$dark-color-card3:#64765B;

$ligth-color-card:#D1E3D5;
$ligth-color-card1:#BACEBF;
$ligth-color-card2:#99AF9E;
$ligth-color-card3:#79917E;

$alert-color: #C70C0C;

// Cores de Bardo
$dark-color-bardo:#19383C;
$dark-color-bardo1:#244549;
$dark-color-bardo2:#35595D;
$dark-color-bardo3:#4C7578;

$ligth-color-bardo:#C2D0B5;
$ligth-color-bardo1:#AEBDA1;
$ligth-color-bardo2:#90A183;
$ligth-color-bardo3:#738567;

// Cores de teste
$dark-color-pagina:#6A473C;
$dark-color-pagina1:#7D594C;
$dark-color-pagina2:#916B5D;
$dark-color-pagina3:#AA8575;

$ligth-color-pagina:#EFE4BF;
$ligth-color-pagina1:#DACEA7;
$ligth-color-pagina2:#BCAE84;
$ligth-color-pagina3:#9E8E63;

// Comentarios Color
$comentarios-50: #ffffff;
$comentarios-100: #efefef;
$comentarios-200: #dcdcdc;
$comentarios-300: #bdbdbd;
$comentarios-400: #989898;
$comentarios-500: #7c7c7c;
$comentarios-600: #656565;
$comentarios-900: #3d3d3d;
$comentarios-950: #292929;

// Landing Page
$corPrimeiraTela1:#480e30;
$corPrimeiraTela2:#572545;
$corPrimeiraTela3:#653b5b;
$corPrimeiraTela4:#735170;
$corPrimeiraTela5:#816685;
$corPrimeiraTela6:#907d99;
$corPrimeiraTela7:#a093ad;
$corPrimeiraTela8:#b1aac0;
$corPrimeiraTela9:#c4c1d3;
$corPrimeiraTela10:#d8d8e6;

// Fontes

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@200;300;400;500;600;700&display=swap');

$fontMenu: 'Fredericka the Great', cursive;
$fonteTexto: 'Montserrat', sans-serif;
$fonteTextoForja: 'Delius Swash Caps', cursive;
$fonteTituloForja: 'Arapey', serif;
$fontelandinPage: 'Maitree', serif;