@import 'styles/_variaveis.module.scss';

.vazia{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 60vh;
    p{
        font-size: 2rem;
        font-family: $fonteTituloForja;
        color: $gunmetal;
        text-shadow: 1px 1px $walnut-brown;
        font-weight: bold;
        text-align: center;
        max-width: 90%;
    }
}