@import 'styles/_variaveis.module.scss';

.menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1em .3em;

    a{
        font-size: 1rem;
        color: $corPrimeiraTela10;
        text-decoration: none;
        -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        position: relative;
        padding: 10px 0;
        background-color: rgba($color: $corPrimeiraTela5, $alpha: .2);
        padding: .3em .5em;
        border-radius: 2px;
        box-shadow: 0 0 6px rgba($color: #000000, $alpha: .2);

        &::before {
            
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            width: 100%;
            height: 4px;
            background-color: $corPrimeiraTela6;
            transform-origin: center;
            transform: translate(-50%, 0) scaleX(0);
            transition: transform 0.3s ease-in-out;
          }
        &:hover::before {
            transform: translate(-50%, 0) scaleX(1);
          }
    }
}
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }