@import 'styles/_variaveis.module.scss';

.banner {
    display: flex;
    flex-direction: column;    
    padding: 2rem;
    box-shadow: 0 0 12px rgb(0, 0, 0, .4); 
    background-image: url("/assets/low-contrast-linen.png"); 
   

    &__principal{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-evenly;
        gap: 2rem;
        img{
            max-width: 100%;
        }
    }

}
.claro {
    background-color: $ligth-color-bardo;
}

.escuro {
    background-color: $dark-color-bardo;   
}
