@import "styles/_variaveis.module.scss";

.modalCadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1rem;
    input{
        box-shadow: 2px 2px $corPrimeiraTela3, 3px 3px $black;;
    } 
   
}