.container{    
    display: flex;    
    align-items: center;
    font-size: 1.5rem;
    justify-content: flex-start;
    gap: 1em;
    padding: 1rem;
    border-radius: 10px;
    border: .5px solid rgba($color: #000000, $alpha: .4);
    margin: 0 1rem;
    transition: .5s;
    color: #19383C;
    background-color: #C2D0B5;

    &:hover{
        transform: scale(1.05);
        box-shadow: 0 0 4px rgba($color: #000000, $alpha: .5);
        cursor: pointer;
    }
}