@import "styles/_variaveis.module.scss";

.modalOverlay {
    font-family: $fonteTexto;
    z-index: 999;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: $gunmetal, $alpha: .9);
    

    &__modal {
        animation: fadeInScaleUp .5s ease-out;
        display: flex;
        flex-direction: column;
        background-color: $walnut-brown;
        padding: 1rem;        
        box-shadow: 3px 3px 9px $black, -1px -1px 6px $black;
        min-width: 400px;
        background-image: url('/assets/dark-wood.png');
        border: 1px solid $black;
        border-radius: 1rem 0 1rem 0;
       

        &__btn{
            width: 25px;
            height: 25px;
            padding: 0;
            align-self: flex-end;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $khaki;
            border: none;
            border-radius: 5px;
            
            svg{
                stroke: $almond;
            }

            &:hover {
                animation: jelly 0.5s;
                cursor: pointer;
            }
        }

        h2 {
            text-align: center;
            font-size: 2rem;
            padding: 1rem 0;
            margin: 2rem 0;
            border-radius: 1em;
            color: $gunmetal;
            text-shadow: 1px 0 $black;
            background-color: $khaki-opaciti-2;
            box-shadow: 1px 1px 4px $black, -.5px -.5px 2px $black;
            font-weight: bold;
        }

        &__body {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.modalAberto {
    display: flex;
}

.modalFechado {
    display: none;
}

@keyframes jelly {

    0%,
    100% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

@keyframes fadeInScaleUp {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}