@import "styles/_variaveis.module.scss";

.modalOverlay {
    font-family: $fonteTexto;
    z-index: 999;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: $corPrimeiraTela9, $alpha: .7);
    

    &__modal {
        animation: fadeInScaleUp .5s ease-out;
        display: flex;
        flex-direction: column;
        background-color: $corPrimeiraTela9;
        background-image: url('/assets/old-map.png');
        padding: 1rem;        
        box-shadow: 4px 4px 6px $corPrimeiraTela9, 5px 5px $corPrimeiraTela1;
        min-width: 400px;        
        border: 1px solid $corPrimeiraTela1;
        border-radius: 0 1rem 1rem 0;
       

        &__btn{
            width: 25px;
            height: 25px;
            padding: 0;
            align-self: flex-end;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $corPrimeiraTela10;
            border: 1px solid $corPrimeiraTela1;
            box-shadow: 2px 2px $corPrimeiraTela2, 3px 3px $black;
            border-radius: 5px;
            transition: box-shadow .5s ease-in-out;
            
            svg{
                color: $corPrimeiraTela1;
            }

            &:hover {
                animation: jelly 0.5s;
                cursor: pointer;
            }
            &:active{
                box-shadow: 1px 1px $black;
            }
        }

        h2 {
            text-align: center;
            font-size: 2rem;
            padding: 1rem 0;
            margin: 2rem 0;
            border-radius: 1em;
            color: $corPrimeiraTela3;
            text-shadow: 2px 2px $corPrimeiraTela1;
            background-color: rgba($color: $corPrimeiraTela5, $alpha: .3);
            box-shadow: 2px 2px $corPrimeiraTela2, 3px 3px $black;;
            font-weight: bold;
        }

        &__body {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.modalAberto {
    display: flex;
}

.modalFechado {
    display: none;
}

@keyframes jelly {

    0%,
    100% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

@keyframes fadeInScaleUp {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}