@import "styles/_variaveis.module.scss";

.fichaVida {
    margin: 1rem;
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 100%;
    font-family: $fonteTextoForja;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &__lvl{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5em;

            span{
                font-size: 2.5rem;
            }
            p{
                font-weight: bold;
                text-decoration: underline;
                font-size: 1.5rem;
            }
        }
        &__inspiracao,
        &__proeficiencia {
            display: flex;
            align-items: flex-end;
            gap: 10px;
            font-size: 1rem;
            font-weight: bold;            

            span {
                padding: .4em;
                border: 1px solid $black;
                border-radius: 5px;
            }

            p {
                text-decoration: underline;
                padding: 0 .2em;
            }
        }
    }
}