@import "styles/_variaveis.module.scss";

.forja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $fonteTextoForja;

    h2 {
        font-size: 3rem;
        padding: 3rem .5rem .4rem .5rem;
        font-weight: 600;
        color: $gunmetal;
        text-shadow: 2px 2px $black;
        border-bottom: 2px solid;
        font-family: $fonteTituloForja;
    }

    p {
        font-size: 1.3rem;
        margin: 2rem;
        color: $walnut-brown;
        text-align: center;
        max-width: 400px;
        line-height: 1.5em;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 2rem;
        padding: 2rem;

        fieldset {
            display: flex;
            align-items: center;
            justify-content: center;
            row-gap: 1rem;
            column-gap: 1rem;
            flex-wrap: wrap;
        }

    }

    &__btn {
        z-index: 1;
        position: relative;
        font-size: 3rem;
        padding: .1em .6em;
        border-radius: 1em 0 1em 0;
        color: $gunmetal;
        outline: none;
        border: none;
        background-color: $khaki;
        overflow: hidden;
        transition: color 0.8s ease-in-out;
        transition: 1s;
        margin: 2rem 0;

        &:disabled {
            color: $khaki-opaciti-2;

            &::before {
                display: none;
            }

            &:hover {
                box-shadow: none;
            }
        }

        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background-color: $walnut-brown;
            transform-origin: center;
            transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
            transition: transform 0.45s ease-in-out;
        }

        &:hover {
            cursor: pointer;
            color: $almond;
            box-shadow: 0 0 9px $black;
        }

        &:hover::before {
            transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);

        }
    }
}