@import "styles/_variaveis.module.scss";

.forjaHome {
    display: flex;
    flex-wrap: wrap;
    background-color: $almond;
    box-shadow: 0 0 12px $black;
    border-radius: 4px 4px 0 0;

    &__container{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        padding: 2rem 0;
        flex-wrap: wrap;
        row-gap: 3rem;

        img{
            max-width: 350px;
            border-radius: 1rem .5rem;
            box-shadow: 0 0 12px $black;
            opacity: .8;
            transform: rotate(-2deg);
            border: 2px solid $walnut-brown;         
        }

        div{
            max-width: 500px;
            text-align: center;            
            background-image: url('../../../assets/stardust.png');            

            h2{
                font-family: $fonteTituloForja;
                font-size: 2.5rem;
                padding: 1em;
                font-weight: bold;
                color: $gunmetal;
                text-shadow: 2px 2px $walnut-brown;
            }
            p{
                font-family: $fonteTextoForja;                
                font-size: 1.5rem;
                line-height: 1.5em;
                color: $walnut-brown;
                text-shadow: 1.2px 1.2px 2px $black;
            }
        }
    }
}

.invertido{
    order: 2;
}