@import 'styles/_variaveis.module.scss';

.primeiraTela {
    height: 100vh;
    max-height: 100vh;
    min-height: min-content;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    font-family: $fontelandinPage;
    flex-wrap: wrap;

    &__container {
        flex: 1;
        min-width: 360px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: .4rem;
        gap: 15rem;
        

        &__pseudoLogo {
            width: 250px;
            height: 250px;
        }

        &__logo {
            margin-left: 125px;
            width: 250px;
            
            position: absolute;
            transform: translate(-50%, -50%);
            top: -200px;
            animation: queda 1.5s forwards ease-out;
            filter: drop-shadow(2px 2px 1px $corPrimeiraTela10);            
        }

        &__card {
            background-color: rgba($color: $corPrimeiraTela1, $alpha: .35);
            box-shadow: 0 0 6px rgba($color: $corPrimeiraTela10, $alpha: .5);
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 1rem;
            backdrop-filter: blur(2px);
            z-index: 2;
            max-width: 95%;

            animation: surgirDaDireita 0.5s ease-out;

        }

        &__titulo {
            font-size: 3rem;
            color: $corPrimeiraTela1;
            text-shadow: .5px .5px 0 $corPrimeiraTela5;
        }

        &__texto {
            max-width: 95%;
            font-size: 1.3rem;
            line-height: 2em;
            text-align: center;
            color: $corPrimeiraTela9;
            text-shadow: .5px .5px 0 $corPrimeiraTela10;
        }
    }
}


.btn {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: $corPrimeiraTela1;
    min-width: 200px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        opacity: .95;
    }

    &__animation {
        border-radius: 100%;
        animation: ripple 0.6s linear infinite;
    }
}





@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
}



@keyframes queda {
    0% {
        transform: scale(0.9) translate(-50%, -50%);
        top: -200px;
    }

    10% {
        transform: scale(0.9) translate(-50%, -50%);
        top: 40%;
    }

    20%,
    50% {
        transform: scale(.99) translate(-50%, -50%);
        top: 20%;
    }

    35% {
        transform: scale(1) translate(-50%, -50%);
        top: 40%;
    }

    60% {
        transform: scale(1) translate(-50%, -50%);
        top: 40%;
    }

    100% {
        transform: rotateZ(20deg) scale(.98) translate(-50%, -50%);
        top: 55%;
    }
}

@keyframes surgirDaDireita {
    0% {
        transform: scale(.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes pulse {
    50% {
        transform: scale(1.01);
    }
}

/* Layout para dispositivos móveis (largura da tela até 767 pixels) */
@media screen and (max-width: 767px) {


    .primeiraTela {
        height: auto;
        max-height: none;

        &__container {
            width: 100%;
            height: auto;
            gap: 10rem;

            &__card {
                gap: .5rem;
            }

            &__pseudoLogo {
                width: 150px;
                height: 150px;
            }

            &__logo {
                width: 150px;
                margin-left: 75px;
            }

            &__titulo {
                font-size: 1.5rem;
                text-transform: uppercase;
                margin: 1em 0;
                padding: 0 .2em;
            }

            &__texto {
                font-size: 1rem;
            }
        }
    }

    @keyframes queda {
        0% {
            transform: scale(0.9) translate(-50%, -50%);
            top: -200px;
        }
    
        10% {
            transform: scale(0.9) translate(-50%, -50%);
            top: 20%;
        }
    
        20%,
        50% {
            transform: scale(.99) translate(-50%, -50%);
            top: 10%;
        }
    
        35% {
            transform: scale(1) translate(-50%, -50%);
            top: 20%;
        }
    
        60% {
            transform: scale(1) translate(-50%, -50%);
            top: 20%;
        }
    
        100% {
            transform: rotateZ(20deg) scale(.98) translate(-50%, -50%);
            top: 20%;
        }
    }
}