@import "styles/_variaveis.module.scss";

.card {
    width: 300px;
    height: 450px;
    border: 2px solid $dark-color-card;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark-color-card3;
    padding: 0 10px;
    box-sizing: border-box;
    box-shadow: 0 0 6px $black;
    transform: rotate(.5deg);
    transition: .4s;
    font-family: $fonteTextoForja;
    background-image: url("/assets/cardBG.png");

    &:hover {
        box-shadow: 0 0 12px $ligth-color-card1;
        transform: scale(1.03) rotate(-0.5deg);        
    }
    &:hover &__body{        
            color: $dark-color-card;       
    }

    &__nome {
        color: $ligth-color-card;
        font-weight: bold;
        font-size: 2rem;
        padding: .5em 0;
        text-decoration: underline;
        text-shadow: 0 0 3px $ligth-color-card3 , 1px 1px $black;
    }

    &__imagem {
        width: 200px;
        height: 200px;
        border: 2px solid $dark-color-card1;
        background-size: cover;
        background-position: center;
    }

    &__body {
        display: flex;
        flex-direction: column;
        background-color: $ligth-color-card2;
        border-radius: 1rem;
        width: 100%;
        flex: 1;
        padding: 10px;
        margin: 10px 0;
        cursor: pointer;
        justify-content: space-between;
        border: 1px dashed $dark-color-card3;
        color: $ligth-color-card3;
        text-shadow: 1px 1px $black;

        h3 {
            font-size: 1.8rem;
            align-self: center;
            
        }

        &__info{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 12px;

            p, svg{
                min-width: 45%;
                text-align: center;
                font-size: 1.5rem;
            }
            svg{
                width: 25px;
                height: 25px;
            }
        }

        span {
            align-self: flex-end;
            font-size: 12px;
        }
    }
}