@import 'styles/_variaveis.module.scss';

.intro {
    padding: 1rem .2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 99%;
    font-family: $fontelandinPage;
    overflow: hidden;

    &__body {
        flex: 9;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &__container {
            width: 100%;
            flex: 1;
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: center;
            justify-content: center;
            padding: 1rem 0;

            &:hover {
                transform: scale(1.02);
                cursor: pointer;
            }

            &__logo {
                flex: 2;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                height: 100%;
                width: 100%;
                position: relative;

                img {
                    width: 250px;
                    height: 250px;
                    animation: queda 1.5s ease-out forwards;
                    filter: drop-shadow(.2px .2px 12px $corPrimeiraTela10);
                }
            }

            &__titulo {
                height: 100%;
                width: 100%;
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: flex-start;

                h1 {
                    padding: 0;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 4rem;
                    color: $corPrimeiraTela1;
                    animation: jelly 1s ease-out forwards;
                    text-shadow: 0 0 1px $corPrimeiraTela9, .2px .2px 0 $corPrimeiraTela5, 0 0 6px $corPrimeiraTela5;
                }
            }

            &__card {
                max-width: 100%;
                display: flex;
                flex-direction: column;
                gap: 1em;
                background-color: rgba($color: $corPrimeiraTela1, $alpha: .35);
                box-shadow: 0 0 6px rgba($color: $corPrimeiraTela10, $alpha: .2);
                border-radius: 4px;
                backdrop-filter: blur(2px);
                z-index: 2;
                padding: 1rem .2rem;
                transform: translateX(100%) scale(.5);
                opacity: 0;

                animation: surgirDaDireita 1s ease-out forwards;

                p {
                    font-size: 1.52rem;
                    line-height: 1.5em;
                    text-align: center;
                    color: $corPrimeiraTela10;
                    text-shadow: 0 0 2px $corPrimeiraTela1;
                }
            }
        }

    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        font-size: 1.2rem;
    }
}

.btn {
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background: $corPrimeiraTela1;
    min-width: 200px;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba($color: $corPrimeiraTela5, $alpha: .8);
    box-sizing: border-box;
    padding: 1.1rem 1.3rem;
    color: $corPrimeiraTela9;
    border: 1px solid $corPrimeiraTela7;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    animation: jelly 1s ease-out forwards;

    &:hover {
        opacity: .9;        
    }

    &__animation {
        border-radius: 100%;
        animation: ripple 0.6s linear infinite;
    }
}



@media (max-width: 980px) {
    .intro {
        &__body {
            flex-direction: column;

            &__container {
                padding: .2rem;

                &__logo {
                    img {
                        width: 150px;
                        height: 150px;
                    }
                }

                &__titulo {
                    h1 {
                        font-size: 2rem;
                    }
                }

                &__card {
                    P {
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
    }
}

@keyframes surgirDaDireita {

    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
    }
}

@keyframes jelly {

    0%,
    100% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

@keyframes queda {
    0% {
        transform: scale(0.9) translate(-30px, -200%);
    }

    20% {
        transform: scale(1) translate(-30px, 0);
    }

    30%,
    50% {
        transform: scale(.9) translate(-30px, -60%);
    }

    40% {
        transform: scale(1) translate(-30px, 0);
    }

    60% {
        transform: scale(1) translate(-30px, 0);
    }

    100% {
        transform: scale(1) translate(0, 10px) rotateZ(25deg);
    }
}