@import 'styles/_variaveis.module.scss';


.intro {
    width: 100%;
    max-height: 100vh;
    min-height: 100vh;
    background: linear-gradient(to left, rgba($color: $corPrimeiraTela9, $alpha: .8), rgba($corPrimeiraTela9, $alpha: 0));
    display: flex;
    flex-direction: column;

    &__body {
        flex: 1;
        width: 100%;
        display: flex;

        &__container {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__introDestaque,
            &__intro {
                color: $corPrimeiraTela2;
                text-shadow: 1px 1px 0 rgba($color: #000000, $alpha: .5), 0 0 6px rgba($color: #000000, $alpha: .3);                
                
                text-align: center;
                -webkit-animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            }

            &__introDestaque{
                font-size: 2.5rem;
                line-height: 1.1em;
            }
            &__intro{
                font-size: 1.8rem;
                line-height: 1em;
                padding: .2em;
                margin-top: 1em;
            }
        }
    }

    &__footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.logoTxt {
    font-size: 4rem;
    text-transform: uppercase;
    font-family: $fontelandinPage;
    -webkit-animation: swing-in-left-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-left-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    font-weight: 600;
    color: $corPrimeiraTela1;
    text-shadow: 2px 2px 0 $corPrimeiraTela4, 0 0 6px rgba($color: #000000, $alpha: .25);
}

.logo {
    -webkit-animation: bounce-in-top 1.1s both;
    animation: bounce-in-top 1.1s both;

    img {
        width: 250px;
        height: 250px;
    }
}

@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@-webkit-keyframes swing-in-left-fwd {
    0% {
        -webkit-transform: rotateY(100deg);
        transform: rotateY(100deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
}

@keyframes swing-in-left-fwd {
    0% {
        -webkit-transform: rotateY(100deg);
        transform: rotateY(100deg);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        opacity: 1;
    }
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}



@media (max-width: 768px) {
    .intro {
        background: linear-gradient(to top, rgba($color: $corPrimeiraTela9, $alpha: .8), rgba($corPrimeiraTela9, $alpha: 0));
        flex-direction: column;
        gap: 2rem;

        &__body {
            flex-direction: column;
            justify-content: space-between;
            padding: 1rem 0;

            &__container {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                max-height: 40%;

                &__introDestaque,
                &__intro {
                    margin-top: 0;                    
                    color: $corPrimeiraTela1;
                    text-shadow: 1px 1px 0 $corPrimeiraTela6, 0 0 6px rgba($color: #000000, $alpha: .25);                    
                    text-align: center;
                    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                }
                &__introDestaque{
                    font-size: 1.5rem;
                    line-height: 1em;
                    font-weight: bold;
                }
                &__intro{
                    padding:1em;
                    font-size: 1.2rem;
                    line-height: 1.3em;
                }
            }
        }

        &__footer {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .logoTxt {
        font-size: 2rem;
        text-transform: uppercase;
        font-family: $fontelandinPage;
        -webkit-animation: swing-in-left-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        animation: swing-in-left-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        font-weight: 600;
        color: $corPrimeiraTela1;
        text-shadow: 1px 1px 0 $corPrimeiraTela4, 0 0 6px rgba($color: #000000, $alpha: .25);
    }

    .logo {
        -webkit-animation: bounce-in-top 1.1s both;
        animation: bounce-in-top 1.1s both;

        img {
            width: 150px;
            height: 150px;
        }
    }
    
}