@import 'styles/_variaveis.module.scss';

.itemMenu {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);   
    border-radius: 4px;
    padding: .2em;
    color: $gunmetal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    z-index: 1;
    position: relative;     
    outline: none;
    border: none;    
    overflow: hidden;

    &:hover{
        transform: scale(1.02);
    }
    
    &::after {
        content: '';
        z-index: -1;
        background-color: hsla(0, 0%, 100%, 0.2);
        position: absolute;
        top: -50%;
        bottom: -50%;
        width: 1em;
        transform: translate3d(-525%, 0, 0) rotate(35deg);
    }

    &:hover::after {
        transition: transform 0.45s ease-in-out;
        transform: translate3d(800%, 0, 0) rotate(35deg);
    }
}




