@import "styles/_variaveis.module.scss";


.sideBar {
  background-image: url('/assets/sideMenuBg.png');
  background-size: cover;
  background-position: center;

  border-right: 2px solid $corPrimeiraTela9;
  border-top: 2px solid $corPrimeiraTela9;
  z-index: 10;
  height: 100vh;
  background-color: $corPrimeiraTela3;
  width: 0;
  position: fixed;

  overflow: hidden;

  flex-direction: column;
  justify-content: space-between;

  border-radius: 0 10px 10px 0;

  -webkit-box-shadow: 6px 0px 12px 3px $corPrimeiraTela4;
  -moz-box-shadow: 6px 0px 12px 3px $corPrimeiraTela4;
  box-shadow: 6px 0px 12px 3px $corPrimeiraTela4;

  transition: width .5s ease, opacity .5s ease;

  &__header {
    &__top {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      background-color: $corPrimeiraTela10;
      border-bottom: 1px solid $corPrimeiraTela1;
      box-shadow: 0 0 2px $black;

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 40%;
        font-size: 1.3rem;
        padding: .5em 1em;
        color: $corPrimeiraTela1;
        text-shadow: .5px .5px $black;
        font-weight: 600;

        &:hover {
          background-color: $corPrimeiraTela1;
          color: $corPrimeiraTela10;
        }

        &:hover svg {
          color: $corPrimeiraTela10;
        }

      }

      svg {
        filter: drop-shadow(1px 1px 0 $corPrimeiraTela10);
        color: $corPrimeiraTela1;
        z-index: 9;
        cursor: pointer;
        width: 26px;
        height: 26px;
        margin: 0 15px;

        &:hover {
          cursor: pointer;
          animation: jelly 0.5s;
        }
      }
    }

    &__nome {
      cursor: pointer;
      display: flex;
      width: 100%;
      font-size: 2rem;
      column-gap: .5em;
      padding: .2em;
      color: $corPrimeiraTela10;
      text-shadow: 2px 2px $corPrimeiraTela1;
      text-transform: uppercase;
      background-color: rgba(255, 255, 255, 0.25);
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
      animation: jelly .6s;
      transition: transform .3s;
      
      &:hover{
        transform: scale(1.05);
      }

      svg {
        filter: drop-shadow(2px 2px $corPrimeiraTela2);
      }
    }
  }

  &__footer {
    background-color: $black;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.sideBarAtiva {
  opacity: 1;
  width: 300px;
  display: flex;
}

.sideBarDesativa {
  opacity: 0;
  width: 0px;
  // display: none;
}


@keyframes jelly {

  0%,
  100% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}