@import "styles/_variaveis.module.scss";

.news {
    max-width: 100%;
    background-image: url('./assets/nice-snow.png');
    min-width: 100%;
    min-height: 100vh;     

    &__titulo {
        background-color: rgba($color: #000000, $alpha: .25);
        backdrop-filter: blur(5px);
        border-radius: 0 0 10px 10px;
        border: .5px solid rgba($color: #000000, $alpha: .5);
        box-shadow: 0 0 12px rgba($color: #000000, $alpha: .5);
        font-size: 2.5rem;
        font-family: $fonteTexto;
        font-weight: bold;
        display: flex;
        align-items: center;
        width: 100%;
        text-shadow:  2px 2px #FAFAE3;       
        

        h2 {
            display: flex;
            align-items: center;
            gap: .5rem;
            width: 100%;
            justify-content: center;
            padding: 2em 0;
            animation: pulsarTitulo 2s infinite;
            color: #3BAA94;

            svg {
                border-bottom: 2px solid #E9E9CC;                
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding: 0 .5rem;

        &__loaderContainer{
            width: 100%;
            margin: 1rem;
            background-color: rgba($color: #000000, $alpha: .25);
            backdrop-filter: blur(5px);
            border-radius: 5px;
            box-shadow: 0 0 12px rgba($color: #000000, $alpha: .25);
            min-height: 70vh;
        }
    }
}

@media screen and (max-width: 700px) {
    .news {
        &__titulo {
            font-size: 2rem;
        }
    }

}

@keyframes pulsarTitulo {
    0% {
        text-shadow: 0 0 12px #3BAA94;
        filter: drop-shadow(2px 2px #E9E9CC) grayscale(0%);
        opacity: 1;
    }

    25%,
    50% {
        text-shadow: 0 0 0 #3BAA94;
        filter: drop-shadow(2px 2px #E9E9CC) grayscale(70%);
        opacity: .8;
    }

    100% {
        text-shadow: 0 0 12px #3BAA94;
        filter: drop-shadow(2px 2px #E9E9CC) grayscale(0%);
        opacity: 1;
    }
}